.NewsCard {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #5c9e52;
  transition: all 0.3s ease-in-out;
}

.NewsCard .img-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.NewsCard img {
  width: 100%;
  object-fit: cover;
  border-radius: 0.25em;
}

.NewsCard .backup {
  justify-content: center;
  width: 100px;
}

.NewsCard .content-container h2 {
  font-size: 0.7rem;
  padding-bottom: 10px;
  color: #fff;
  margin: 0;
  margin-bottom: 10px;
  font-family: "Kulim Park", semi bold;
}

.NewsCard p {
  font-size: 0.55rem;
  color: #fff;
  text-align: center;
  font-family: "Lexend", light;
}

.NewsCard .content-container {
  flex: 1;
  width: 100vw;
  min-width: 100px;
  margin: 0 15px;
  margin-right: 25px;
  max-height: 150px;
  white-space: normal;
  overflow: hidden;
}

@media only screen and (min-width: 1240px) {
  .NewsCard {
    height: 350px;
  }

  .NewsCard img {
    max-height: 355px;
    object-fit: cover;
  }

  .NewsCard .content-container h2 {
    font-size: 1.25rem;
  }
}
