.AboutUs {
  padding: 0 25px;
}

.AboutUs h1,
.AboutUs p {
  color: #5c9e52;
}

.AboutUs .AboutUsTitle {
  margin-bottom: 35px;
  color: rgb(248, 102, 4);
}

.AboutUs h1,
.AboutUs h2 {
  font-family: "Kulim Park", semi bold;
}

.AboutUs h2 {
  margin-bottom: 10px;
  background-color: #5c9e52;
  color: #fff;
  padding: 10px 5px;
  width: 150px;
  border-radius: 50px;
  text-align: center;
  display: inline-block;
}

.AboutUs p {
  margin: 5px 15px;
}

.AboutUs {
  margin: 0 10px;
  margin-top: 100px;
  min-height: 100vh;
}

.AboutUs li {
  margin: 25px 0;
}
