.Completed {
  background-color: #c5ffbc;
}

.NotCompleted {
  background-color: rgb(255, 95, 95);
}

.AccountActivitiesCard button {
  color: #000;
  border-width: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
