.Account h1,
.Account h2,
.Account h3,
.Account h4,
.Account span {
  color: #fff;
}

.Account {
  margin: 0 auto;
  margin-bottom: 200px;
}

.Account .park-container {
  padding: 0 5px;
  padding-top: 50px;
  background-color: #5c9e52;
}

.Account p {
  margin-top: 15px;
}

.Account .title-FAQ {
  font-size: 1.5rem;
  margin: 1em 0.5em;
  color: #5c9e52;
}

.Account .faq-container li {
  margin: 2em 0.75em;
}

.Account .title-and-btn-container {
  display: flex;
  justify-content: space-between;
  margin-right: 1.5em;
}

.Account .faq-container button {
  background-color: transparent;
  border: none;
  font-size: 1.75rem;
  color: #5c9e52;
  transition: 0.2s transform ease-in;
  cursor: pointer;
}

.Account .faq-container h3,
.Account .faq-container p {
  color: #5c9e52;
}

@media only screen and (min-width: 860px) {
  .Account .park-container {
    padding: 0 5%;
    padding-top: 50px;
  }

  .Account .faq {
    margin: 0 10%;
  }
}
