.AccountParkCard .activity-dropdown {
  display: none;
}

.AccountParkCard .hide-dropdown {
  display: flex;
}

.AccountParkCard .container {
  height: 30px;
  width: 50%;
  background-color: #eee;
  border-radius: 50px;
  margin: 10px;
}

.AccountParkCard .filler {
  height: 100%;
  background-color: rgb(255, 95, 95);
  border-radius: 50px;
  text-align: right;
}

.AccountParkCard .label {
  padding: 5px;
  color: #fff;
  font-weight: bold;
}

.AccountParkCard ul {
  float: left;
  width: 100vw;
}

.AccountParkCard li.AccountActivitiesCard {
  border: 1px solid #000;
  float: left;
  height: 100px;
  width: 100px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
