.Account h1,
.Account h2,
.Account h3,
.Account p,
.Account span {
  color: #5c9e52;
}

.Account {
  margin: 0 50px;
  margin-top: 100px;
  margin-bottom: 200px;
  width: 80%;
}

.Account p {
  font-family: "Lexend", regular;
  margin-top: 15px;
}

.Account .TitleFAQ {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.Account .FAQ {
}

.Account .Answers {
  /* display: flex;
  flex-direction: row; */
}
