.AccountActivitiesCard {
  background-color: #fff;
  font-size: 13px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
  border-radius: 5px;
}

.AccountActivitiesCard p {
  font-size: 0.75rem;
  padding: 10px 0;
  color: #5c9e52;
}

.AccountActivitiesCard .completed {
  background-color: #42743a;
}

.AccountActivitiesCard .not-completed {
  background-color: rgb(255, 95, 95);
}

.AccountActivitiesCard button {
  color: #fff;
  border-width: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
