.AccountParkCard .activity-dropdown {
  display: none;
}

.AccountParkCard .hide-dropdown {
  display: flex;
}

.AccountParkCard .container {
  height: 30px;
  background-color: #fff;
  border: 2px #fff solid;
  border-radius: 50px;
  margin: 10px;
}

.AccountParkCard .filler {
  height: 100%;
  background-color: rgb(255, 95, 95);
  border-radius: 50px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow-x: hidden;
  transition: 0.2s all ease;
}

.AccountParkCard .label {
  padding: 5px;
  color: #fff;
  font-weight: bold;
}

.AccountParkCard ul {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.AccountParkCard .more-acts {
  background-color: #fff;
  color: #5c9e52;
  border: none;
  margin: 15px 10px;
  padding: 5px 10px;
  border-radius: 2em;
  transition: 0.1s background-color ease-in;
  cursor: pointer;
}

.AccountParkCard .more-acts:hover {
  background-color: #dcffd6;
}

.AccountParkCard .dropdown-btn {
  margin: 35px 5px;
  margin-top: 0;
  background-color: transparent;
  border: none;
  font-size: 1.75rem;
  color: #fff;
  transition: 0.2s transform ease-in-out;
  cursor: pointer;
}

.AccountParkCard .remove-btn {
  background-color: rgb(255, 95, 95);
  border: none;
  color: #fff;
  padding: 0.3em 0.75em;
  margin: 0.5em 1em;
  border-radius: 2em;
  cursor: pointer;
}
.AccountParkCard .remove-btn:hover {
  transition: 0.1s background-color ease-in;
  background-color: rgb(255, 72, 72);
}

@media only screen and (min-width: 860px) {
  .AccountParkCard {
    margin: 1.25em 0;
  }

  .AccountParkCard h4 {
    font-size: 1.5rem;
  }
}
