.AccountParkCard .activity-dropdown {
  display: none;
}

.AccountParkCard .hide-dropdown {
  display: flex;
}

.AccountParkCard .container {
  height: 30px;
  width: 75%;
  background-color: #eee;
  border-radius: 50px;
  margin: 10px;
}

.AccountParkCard .filler {
  height: 100%;
  background-color: rgb(255, 95, 95);
  border-radius: 50px;
  text-align: right;
}

.AccountParkCard .label {
  padding: 5px;
  color: #fff;
  font-weight: bold;
}

.AccountParkCard ul {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
}

.AccountParkCard .dropdown-btn,
.AccountParkCard .remove-btn {
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.AccountParkCard .dropdown-btn {
  background-color: transparent;
  border: none;
  font-size: 1.75rem;
  color: #fff;
  transition: 0.2s transform ease-in-out;
  cursor: pointer;
}

@media only screen and (min-width: 850px) {
}

@media only screen and (max-width: 468px) {
}
