.Account h1,
.Account h2,
.Account h3,
.Account h4,
.Account span {
  color: #fff;
}

.Account {
  margin-bottom: 200px;
  width: 100%;
}

.Account .park-container {
  padding: 0 25px;
  padding-top: 50px;
  background-color: #5c9e52;
}

.Account p {
  margin-top: 15px;
}

.Account .title-FAQ {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}
