.Footer {
  background-color: #5c9e52;
  left: 0;
  bottom: 0;
  padding: 20px 5px;
  width: 100%;
  margin-top: auto;
}

.Footer .divider {
  height: 1px;
  width: 95%;
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 8px;
}

.Footer .links-container {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

.Footer .logo-social-container {
  flex: 1;
}

.Footer .community-container,
.Footer .company-container {
  flex: 0.9;
}

.Footer h2 {
  font-size: 18px;
  color: #fff;
  font-family: "Kulim Park", semi bold;
}
.Footer h3 {
  font-family: "Kulim Park", semi bold;
}
.Footer p {
  font-size: 9px;
  color: #fff;
  font-family: "Kulim Park", light;
}

.Footer .social-media-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 10px 0;
}

.Footer .social-media-container li {
  background-color: #fff;
  padding: 4px;
  border-radius: 50%;
  font-size: 18px;
}
.Footer .facebook-icon,
.youtube-icon,
.twitter-icon {
  cursor: pointer;
  padding: 2px;
}

.Footer .twitter-icon,
.Footer .youtube-icon,
.Footer .facebook-icon {
  font-size: 16px;
}

.Footer .youtube-icon {
  color: #dc6a6a;
}

.Footer .facebook-icon {
  color: #8094fe;
}

.Footer .twitter-icon {
  color: #68d2ff;
}

.Footer .community-container ul,
.Footer .company-container ul {
  display: flex;
  flex-direction: column;
}

.Footer .community-container h3,
.Footer .company-container h3 {
  font-size: 18px;
  margin-left: 5px;
}

.Footer .community-container a,
.Footer .company-container a,
.Footer .community-container Link,
.Footer .company-container Link {
  font-size: 11px;
  text-decoration: none;
  color: #fff;
  font-family: "Kulim Park", light;
}

.Footer .community-container li,
.Footer .company-container li {
  /* padding-left: 5px; */
  margin: 5px 0;
  margin-left: 5px;
  padding: 1px;
}

.Footer .community-container ul,
.Footer .company-container ul {
  display: flex;
  flex-wrap: wrap;
  align-items: unset;
  margin: 0 5px;
}

.Footer .community-container a,
.Footer .company-container a {
  font-size: 16px;
}

@media only screen and (min-width: 700px) {
  .Footer .social-media-container {
    max-width: 200px;
  }

  .Footer .twitter-icon,
  .Footer .youtube-icon,
  .Footer .facebook-icon {
    font-size: 25px;
  }
}
