.Header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  padding: 10px 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #3a6b39;
  border-bottom: 0.15rem #fff solid;
}

.Header .logo-container {
  display: flex;
  align-items: center;
}

.Header h1 {
  font-size: 1.1rem;
}

.Header img {
  width: 50px;
}

.Header li Link {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.Header button {
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
}

.Header .sign-in-btn {
  border: 1px #fff solid;
  cursor: pointer;
}

.Header .sign-out-btn {
  border: 1px #fff solid;
  color: #5c9e52;
  background-color: #fff;
  cursor: pointer;
}

.Header .sidebar {
  cursor: pointer;
  margin-left: 10px;
  padding: 2px;
  border: none;
  padding: 0 6px;
}

.Header .username {
  display: flex;
  align-items: center;
  font-size: 0.55rem;
  color: #fff;
}

.Header .profile-img {
  width: 27px;
  margin-left: 10px;
  border-radius: 50%;
  border: 1px #fff solid;
}

.Header a {
  color: #fff;
  margin-right: 15px;
  font-size: 0.75rem;
  text-align: right;
}

.Header a img {
  z-index: 3;
  font-size: 0.75rem;
}

.Header .dropdown-content li {
  margin-bottom: 10px;
}

.Header i {
  font-size: 2rem;
  color: #fff;
}

.Header .dropdown {
  display: inline-block;
  text-align: right;
  margin: 0;
}

.Header .dropdown a {
  text-align: right;
  font-size: 1.2rem;
  margin: 0;
  font-weight: 200;
}

.Header .dropdown-content {
  visibility: hidden;
  display: flex;
  flex-direction: column-reverse;
  opacity: 0;
  position: absolute;
  padding-bottom: 10px;
  top: 20;
  right: 0;
  text-align: right;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s,
    z-index 0s linear 0.01s;
}

.Header .dropdown-content ul {
  margin: 10px 10px;
  padding: 0px 5px 0px 5px;
  text-align: center;
}

.Header .dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.5s;
  background-color: #3a6b39;
  border-radius: 5px;
  padding: 20px 15px 20px 15px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.Header .navlinks {
  display: none;
}

.Header .dropdown-sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Header .dropdown-sign-in-container a {
  display: none;
}

.Header .sign-in-container {
  display: flex;
  justify-content: space-around;
  width: fit-content;
}

.Header .dropdown-content .sign-in-btn {
  display: none;
}

.Header .userinfo-and-dropmenu {
  display: flex;
  align-items: center;
}

.Header .disappear-btn {
  display: none;
}

.Header .userinfo {
  display: flex;
}

.Header .name-and-pic {
  display: flex;
  align-items: center;
}

.Header .dropdown a:hover,
.Header .navlinks a:hover,
.Header .username:hover {
  transition: 0.1s color ease-in;
  color: #77ce6a;
}

@media only screen and (min-width: 900px) {
  .Header {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 40px;
  }

  .Header h1 {
    font-size: 1.5rem;
  }

  .Header .dropdown {
    display: none;
  }

  .Header .navlinks {
    display: flex;
    justify-content: space-between;
  }

  .Header .navlinks li a {
    font-size: 0.9rem;
    font-weight: 300;
    padding: 5px;
    margin: 5px;
  }

  .Header .disappear-btn {
    display: block;
  }

  .Header .sign-in-container {
    display: flex;
    justify-content: space-between;
    width: 200px;
  }

  .Header .sign-out-btn {
    min-width: 5rem;
  }
}
