.Header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  padding: 10px 10px 25px 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #3a6b39;
  font-family: "Kulim Park", light;
}

.Header h1 {
  font-size: 24px;
  font-family: "Kulim Park", semibold;
}

.Header h1,
.Header li Link {
  color: #fff;
  text-decoration: none;
}

.Header button {
  background-color: transparent;
  border: 0;
  color: #fff;
  padding: 5px;
  font-family: "Kulim Park", extra light;
}
button.signInBtn {
  border: 1px #fff solid;
  cursor: pointer;
}

button.signOutBtn {
  border: 1px #fff solid;
  color: #5c9e52;
  background-color: #fff;
  cursor: pointer;
}

button.sideBar {
  cursor: pointer;
  margin-left: 10px;
  padding: 2px;
  border: none;
  padding: 0px 6px;
}

.Header .username {
  color: #fff;
}

.Header div {
  display: flex;
  align-items: center;
}

.Header a {
  color: #fff;
  margin-right: 15px;
  font-size: 12px;
  text-align: right;
}

.Header a img {
  z-index: 3;
}

.Header li {
  margin-bottom: 10px;
}

.Header i {
  font-size: 32px;
  color: #fff;
}
.Header img {
  width: 25px;
}

.Header .dropdown {
  display: inline-block;
  background-color: #3a6b39;
  text-align: right;
  margin: 0;
}

.Header .dropdown a {
  text-align: right;
  font-size: 20px;
  margin: 0;
}

.Header .dropdown-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 20;
  right: 0;
  text-align: right;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s,
    z-index 0s linear 0.01s;
}
.Header .dropdown-content ul {
  margin: 30px 30px;
  padding: 0px 5px 0px 5px;
}
.Header .dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.5s;
  background-color: #3a6b39;
}
.Header .navlinks {
  display: none;
}

@media only screen and (min-width: 600px) {
  .Header .dropdown {
    display: none;
  }

  .Header .navlinks {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
