.Header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  padding: 10px 10px 25px 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #3a6b39;
}

.Header h1 {
  font-size: 24px;
}

.Header h1,
.Header li Link {
  color: #fff;
  text-decoration: none;
}

.Header button {
  background-color: transparent;
  border: none;
}

.Header .username {
  color: #fff;
}

.Header div {
  display: flex;
  align-items: center;
}

.Header a {
  color: #fff;
  margin-right: 15px;
  font-size: 12px;
}

.Header i {
  font-size: 32px;
  color: #fff;
}
.Header img {
  width: 25px;
}

.Header .dropdown {
  position: relative;
  display: inline-block;
}

.Header .dropdown:hover {
  background-color: #3e8e41;
}

.Header .dropdown-content a:hover {
  background-color: #3e8e41;
}

.Header .dropdown-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s,
    z-index 0s linear 0.01s;
}

.Header .dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}
