.Header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  padding: 10px 10px 25px 10px;
  /* background-image: linear-gradient(0deg, #6fc861b0, #6fc861b0),
    url("../images/park-background.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #3a6b39;
}

.Header h1 {
  font-size: 24px;
}

.Header h1,
.Header li Link {
  color: #fff;
  text-decoration: none;
}

.Header button {
  background-color: transparent;
  border: none;
}

.Header .username {
  color: #fff;
}

.Header div {
  display: flex;
  align-items: center;
}

.Header a {
  color: #fff;
  margin-right: 15px;
  font-size: 12px;
}

.Header i {
  font-size: 32px;
  color: #fff;
}
.Header img {
  width: 25px;
}
