.Header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  padding: 10px 10px 25px 10px;
  /* background-image: linear-gradient(0deg, #6fc861b0, #6fc861b0),
    url("../images/park-background.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #3a6b39;
}

.Header h1 {
  font-size: 24px;
}

.Header h1,
.Header li Link {
  color: #fff;
  text-decoration: none;
}

.Header button {
  background-color: transparent;
  border: none;
}

.Header .username {
  color: #fff;
}

.Header div {
  display: flex;
  align-items: center;
}

.Header a {
  color: #fff;
  margin-right: 15px;
  font-size: 12px;
}

.Header i {
  font-size: 32px;
  color: #fff;
}
.Header img {
  width: 25px;
}

.Header .menu-dropdown {
  display: none;
}

.Header .menu-dropdown-open {
  display: none;
  background-color: rgba(0, 128, 0, 0.816);
  display: block;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 6vh;
  width: 40vw;
  height: 25vh;
}
.Header .dropdown {
  position: relative;
  display: inline-block;
}

.Header .dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.Header .dropdown-content a:hover {
  background-color: #3e8e41;
}

.Header .dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 128, 0, 0.816);
  min-width: 120px;
  height: 100vh;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.Header .dropdown:hover .dropdown-content {
  display: block;
  text-align: right;
}
