.Header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  padding: 10px 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #3a6b39;
  font-family: "Kulim Park", light;
}

.Header h1,
.Header li Link {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-family: "Kulim Park", semibold;
}

.Header button {
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
  font-family: "Kulim Park", extra light;
}
.Header .signInBtn {
  border: 1px #fff solid;
  cursor: pointer;
}

.Header .signOutBtn {
  border: 1px #fff solid;
  color: #5c9e52;
  background-color: #fff;
  cursor: pointer;
}

.Header .sideBar {
  cursor: pointer;
  margin-left: 10px;
  padding: 2px;
  border: none;
  padding: 0px 6px;
}

.Header .username {
  display: flex;
  align-items: center;
  color: #fff;
}

.Header .profileImg {
  width: 27px;
  margin-left: 10px;
}

.Header a {
  color: #fff;
  font-size: 12px;
}

.Header .dropdown-content li {
  margin-bottom: 10px;
}

.Header i {
  font-size: 32px;
  color: #fff;
}

.Header .dropdown {
  display: inline-block;
  text-align: right;
  margin: 0;
}

.Header .dropdown a {
  text-align: right;
  font-size: 20px;
  margin: 0;
}

.Header .dropdown-content {
  visibility: hidden;
  display: flex;
  flex-direction: column-reverse;
  opacity: 0;
  position: absolute;
  padding-bottom: 10px;
  top: 20;
  right: 0;
  text-align: right;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s,
    z-index 0s linear 0.01s;
}
.Header .dropdown-content ul {
  margin: 10px 10px;
  padding: 0px 5px 0px 5px;
  text-align: center;
}
.Header .dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.5s;
  background-color: #3a6b39;
  border-radius: 5px;
  padding: 20px 15px 20px 15px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.Header .navlinks {
  display: none;
}

.Header .dropdown-signInContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Header .dropdown-signInContainer a {
  display: none;
}

.Header .signInContainer {
  display: flex;
  justify-content: space-around;
  width: fit-content;
}
.Header .dropdown-content .signInBtn {
  display: none;
}
.Header .userinfo-and-dropmenu {
  display: flex;
  align-items: center;
}
.Header .disappear-btn {
  display: none;
}

.Header .userinfo {
  display: flex;
}
@media only screen and (min-width: 850px) {
  .Header {
    flex-direction: row;
    justify-content: space-between;
  }

  .Header h1 {
    font-size: 24px;
  }

  .Header .dropdown {
    display: none;
  }

  .Header .navlinks {
    display: flex;
    justify-content: space-between;
  }

  .Header .navlinks li a {
    font-size: 15px;
    padding: 5px;
    margin: 5px;
  }

  .Header .disappear-btn {
    display: block;
  }
  .Header .signInContainer {
    display: flex;
    justify-content: space-between;
    width: 200px;
  }
}
