.HomeRoute .news-slides-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 40vh;
}

.HomeRoute .news-slides {
  display: flex;
  overflow: hidden;
  position: relative;
  height: 50vh;
  max-height: 200px;
  width: 100%;
}

.HomeRoute h2 {
  color: #5c9e52;
  text-align: center;
  margin: 20px;
  font-family: "Kulim Park", semi bold;
}

.HomeRoute .left-btn,
.HomeRoute .right-btn {
  position: absolute;
  top: 50%;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
}

.HomeRoute .left-btn {
  left: 5px;
  z-index: 1;
  cursor: pointer;
}

.HomeRoute .right-btn {
  right: 5px;
  z-index: 1;
  cursor: pointer;
}

.HomeRoute .right-btn:hover,
.left-btn:hover {
  color: rgb(248, 102, 4);
}

.HomeRoute .news-slides-container {
  height: 200px;
}
