.OpeningSection {
  height: 40vh;
  /* margin-top: 90px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: linear-gradient(0deg, #6fc861b0, #6fc861b0),
    url("../images/park-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  font-family: "Kulim Park", sans-serif;
}

.OpeningSection * {
  margin: 5px 0;
}

.OpeningSection ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  max-width: 750px;
  font-size: 16px;
}

.OpeningSection .divider {
  display: block;
  margin-top: 90px;
  width: 2px;
  height: 30px;
  background-color: #fff;
}

.OpeningSection h2 {
  margin-top: 80px;
  font-weight: bold;
  color: #fff;
  font-weight: 200;
}

.OpeningSection h3 {
  font-size: 24px;
  font-weight: bold;
  width: 200px;
  text-align: center;
  font-weight: 200;
}

.OpeningSection h3::after {
  content: "";
  height: 2px;
  width: 40%;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 10px;
  display: block;
}
