.ParkDetailsCard {
  color: #222;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.ParkDetailsCard .content-container {
  margin: 0 15px;
}

.ParkDetailsCard .park-name {
  font-size: 16px;
}

.ParkDetailsCard .HomeSearchParkForm h3 {
  color: #fff;
}

.ParkDetailsCard p {
  color: #60a155;
}

.ParkDetailsCard .visited-btn {
  color: #fff;
}

.ParkDetailsCard .HomeSearchParkForm button {
  background-color: #3a6b39;
}

.ParkDetailsCard .park-description {
  margin: 20px 20px;
  font-size: 14px;
}

.ParkDetailsCard .activitiesList {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ParkDetailsCard .activitiesList p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ParkDetailsCard .activitiesList p {
  font-size: 0.7rem;
  text-align: center;
  background-color: #60a155;
  color: #fff;
  margin: 10px;
  border-radius: 3em;
  width: 10em;
  height: 2.25em;
  padding: 0.65em;
}

.ParkDetailsCard h1 {
  font-size: 90%;
  color: #3a6b39;
}

.ParkDetailsCard .parkname-weather-container {
  padding: 25px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.ParkDetailsCard .parkname-weather-container h2 {
  color: #60a155;
  font-size: 1.25rem;
  text-align: center;
}

.ParkDetailsCard .weather-info {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 150px;
}

.ParkDetailsCard .weather-info img {
  width: 40px;
}

.ParkDetailsCard .main-image {
  margin: 10px auto;
  display: block;
  width: 75%;
  border-radius: 5px;
}

.ParkDetailsCard h3 {
  margin: 20px 0;
  margin-top: 125px;
  font-size: 1.15rem;
  color: #60a155;
}

.ParkDetailsCard button {
  border-radius: 30px;
  border-width: 0;
  background-color: #60a155;
  padding: 5px 15px;
  font-weight: bold;
  cursor: pointer;
  margin: 0px auto;
}
.ParkDetailsCard .preview-imgs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ParkDetailsCard .preview-imgs img {
  height: 200px;
}

.ParkDetailsCard .CommentForm {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
  margin: 20px auto;
  margin-top: 150px;
}

.CommentForm button:hover {
  transition: 0.1s background-color ease;
  background-color: #73b967;
}

.ParkDetailsCard .comments-container {
  margin: 50px 5px;
}

.ParkDetailsCard .comments-container li {
  margin: 25px 0;
  padding: 15px 20px;
  background-color: #60a155;
  border-radius: 5px;
}

.ParkDetailsCard .comments-container li h4,
.ParkDetailsCard .comments-container li p {
  color: #fff;
}

.ParkDetailsCard .comments-container li h4:hover {
  text-decoration: underline;
}

.ParkDetailsCard .comments-container div {
  display: flex;
  align-items: center;
}

.ParkDetailsCard .comments-container div * {
  margin-right: 25px;
}

.ParkDetailsCard .date {
  font-size: 10px;
}

.ParkDetailsCard .body-text {
  margin-top: 10px;
}

.ParkDetailsCard .delete-comment-btn {
  color: rgb(255, 255, 255);
  font-size: 0.75rem;
  font-weight: 400;
}

.ParkDetailsCard .delete-comment-btn:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 600px) {
  .ParkDetailsCard .parkname-weather-container {
    padding: 100px 0px 10px 0px;
  }

  .ParkDetailsCard .parkname-weather-container h2 {
    font-size: 1.5rem;
    text-align: left;
  }

  .ParkDetailsCard h3 {
    font-size: 1.75rem;
  }

  .ParkDetailsCard .park-description {
    font-size: 1.1rem;
  }

  .ParkDetailsCard .content-container {
    margin: 0 100px;
  }

  .ParkDetailsCard .park-name {
    font-size: 21px;
  }

  .ParkDetailsCard .activitiesList {
    columns: 5;
  }

  .ParkDetailsCard .parkname-weather-container {
    padding: 100px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .ParkDetailsCard .preview-imgs {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .ParkDetailsCard .preview-imgs li img {
    margin: 10px;
    border-radius: 5px;
  }

  .ParkDetailsCard .comments-container {
    margin: 50px 40px;
  }

  .ParkDetailsCard .activitiesList p {
    font-size: 0.9rem;
    height: 2.5em;
  }
}
