.ParkDetailsCard h1 {
  padding-top: 150px;
  color: black;
}

.ParkDetailsCard {
  color: #222;
}

.ParkDetailsCard .main-image {
  height: 200px;
}

.ParkDetailsCard .preview-imgs img {
  width: 300px;
}

.ParkDetailsCard .activitiesList {
  columns: 5;
}
