.ParkCard .parkcard-text a,
h2 {
  font-size: medium;
  color: #3a6b39;
}

.ParkCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px;
  overflow: hidden;
  width: 350px;
  height: 200px;
  padding: 20px;
  border: solid rgb(238, 238, 238) 2px;
  border-radius: 5px;
}
.ParkCard img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.ParkCard .parkcard-pic-and-text {
  display: flex;
}

.ParkCard .parkcard-text p {
  font-size: small;
}

.ParkCard .parkcard-pic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40vw;
  margin-right: 15px;
}

.ParkCard .parkcard-text {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #3a6b39;
  max-height: 140px;
  overflow: hidden;
}

.ParkCard button {
  border-radius: 30px;
  border-width: 0;
  background-color: #c5ffbc;
  padding: 5px 15px;
  font-weight: bold;
  cursor: pointer;
  margin: 0px auto;
  width: 100%;
  text-align: center;
  position: relative;
  top: 0;
}
