.ParkDetailsCard {
  color: #222;
  display: flex;
  flex-direction: column;
}

.ParkDetailsCard p {
  margin-top: 10px;
}

.ParkDetailsCard h1 {
  color: #3a6b39;
  font-size: 18px;
}
.ParkDetailsCard .parkname-weather-container {
  padding: 150px 20px 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ParkDetailsCard .weather-info {
  display: flex;
  align-items: center;
}

.ParkDetailsCard .main-image {
  margin: 10px auto;
  width: 60vw;
}

.ParkDetailsCard .preview-imgs img {
  width: 300px;
}

.ParkDetailsCard .activitiesList {
  columns: 5;
}
