.SocialMediaCommentCard {
  background-color: #fff;
  border-radius: 5px;
  margin: 15px 10px;
  padding: 10px;
  color: #5c9e52;
}

.SocialMediaCommentCard .profile-and-date {
  display: flex;
  align-items: flex-end;
}

.SocialMediaCommentCard .profile-and-date h5 {
  font-size: 0.85rem;
}

.SocialMediaCommentCard .profile-and-date p {
  font-size: 0.5rem;
  margin-left: 20px;
}

.SocialMediaCommentCard .comment-text {
  margin: 5px 10px;
  font-size: 0.7rem;
}

.SocialMediaCommentCard .btn {
  text-align: right;
}

.SocialMediaCommentCard button {
  border: none;
  background-color: transparent;
  color: rgb(206, 0, 0);
  cursor: pointer;
  font-size: 0.6rem;
}

.SocialMediaCommentCard button:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 860px) {
  .SocialMediaCommentCard .profile-and-date h5 {
    font-size: 1rem;
  }

  .SocialMediaCommentCard .profile-and-date p {
    font-size: 0.75rem;
  }

  .SocialMediaCommentCard .comment-text {
    margin: 5px 10px;
    font-size: 0.9rem;
  }

  .SocialMediaCommentCard button {
    font-size: 0.85rem;
  }
}
