.SocialMediaRoute {
  color: #5c9e52;
  margin-top: 100px;
}

.SocialMediaRoute .recent-post {
  margin: 25px 0;
  text-align: center;
  font-size: 24px;
}

.SocialMediaRoute .posts-container {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 100%;
  max-width: 1000px;
}

@media only screen and (min-width: 850px) {
  .SocialMediaRoute .recent-post {
    text-align: left;
    margin: 25px 75px;
    font-size: 36px;
  }
}
