.SocialMediaPostCard {
  margin: 50px 0;
  padding: 25px;
  background-color: #5c9e52;
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  position: relative;
}

.SocialMediaPostCard .delete-btn {
  background-color: transparent;
  border: none;
  color: rgb(228, 0, 0);
  font-size: 24px;
  position: absolute;
  left: 90%;
  transition: 0.2s color ease-in-out;
  cursor: pointer;
}

.SocialMediaPostCard .delete-btn:hover {
  color: rgb(160, 41, 41);
}

.SocialMediaPostCard .profile-name-and-image {
  display: flex;
  align-items: center;
}

.SocialMediaPostCard .profile-name-and-image img {
  width: 35px;
  border-radius: 50%;
}

.SocialMediaPostCard .profile-name-and-image h4 {
  margin: 0 15px;
}

.SocialMediaPostCard .title-and-time {
  display: flex;
  align-items: flex-end;
  margin-top: 25px;
}

.SocialMediaPostCard .title {
  font-size: 28px;
}

.SocialMediaPostCard .date {
  margin: 0 25px;
  text-align: right;
  font-size: 12px;
}

.SocialMediaPostCard .body-text {
  font-size: 14px;
  margin: 15px 10px;
  background-color: #fff;
  color: #5c9e52;
  padding: 15px 10px;
  border-radius: 5px;
}

.SocialMediaPostCard .like-container {
  display: flex;
  align-items: center;
}

.SocialMediaPostCard .heart-btn {
  background-color: transparent;
  font-size: 24px;
  color: rgb(255, 117, 117);
}

.SocialMediaPostCard .show-more-comments-btn {
  background-color: #235f19;
  color: #fff;
  border-radius: 15px;
  transition: 0.1s background-color ease-in-out;
}

.SocialMediaPostCard .show-more-comments-btn:hover {
  background-color: #447a3c;
}

.SocialMediaPostCard .comment-btn {
  background-color: transparent;
  color: #fff;
  font-weight: 400;
}

.SocialMediaPostCard .comment-btn:hover {
  text-decoration: underline;
}

.SocialMediaPostCard .heart-btn,
.SocialMediaPostCard .show-more-comments-btn,
.SocialMediaPostCard .comment-btn {
  cursor: pointer;
  border: none;
  font-weight: 400;
  padding: 5px 10px;
}
