.SocialMediaPostForm {
  display: flex;
  flex-direction: column;
  width: 75%;
  max-width: 1000px;
  min-width: 300px;
  margin: 50px auto;
  padding: 15px 25px;
  background-color: #5c9e52;
  color: #fff;
  border-radius: 5px;
}

.SocialMediaPostForm * {
  margin: 10px 5px;
}

.SocialMediaPostForm label {
  font-size: 18px;
}

.SocialMediaPostForm input {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.SocialMediaPostForm textarea {
  height: 100px;
  border: none;
  border-radius: 5px;
  padding: 15px;
  resize: none;
}

.SocialMediaPostForm input[type="file"]::file-selector-button {
  border: none;
  padding: 5px 10px;
  border-radius: 1em;
  background-color: #35642e;
  color: #fff;
  cursor: pointer;
  transition: 0.1s background-color ease;
}

.SocialMediaPostForm input[type="file"]::file-selector-button:hover {
  background-color: #447a3c;
}

.SocialMediaPostForm button {
  width: 150px;
  height: 30px;
  margin: 10px auto;
  border: none;
  background-color: #35642e;
  color: #ffffff;
  border-radius: 5px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.1s background-color ease-in;
}

.SocialMediaPostForm button:hover {
  background-color: #447a3c;
}

.SocialMediaPostForm h2 {
  font-size: 1.5rem;
  text-align: center;
  padding: 5rem;
  color: #fff;
}
