.SocialMediaPostCard {
  margin: 50px 25px;
  padding: 25px;
  background-color: #5c9e52;
  display: block;
  border-radius: 5px;
  color: #fff;
  position: relative;
}

.SocialMediaPostCard .delete-btn {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  position: absolute;
  right: 5%;
  transition: 0.2s color ease-in-out;
  cursor: pointer;
}

.SocialMediaPostCard .delete-btn:hover {
  color: rgb(160, 41, 41);
}

.SocialMediaPostCard .profile-name-and-image {
  display: flex;
  align-items: center;
}

.SocialMediaPostCard .profile-name-and-image img {
  width: 35px;
  border-radius: 50%;
}

.SocialMediaPostCard .profile-name-and-image h4 {
  margin: 0 15px;
  color: #fff;
}

.SocialMediaPostCard .profile-name-and-image h4:hover {
  text-decoration: underline;
}

.SocialMediaPostCard .title-and-time {
  display: flex;
  align-items: flex-end;
  margin-top: 25px;
}

.SocialMediaPostCard .title {
  font-size: 28px;
  margin: 35px 10px;
}

.SocialMediaPostCard .date {
  margin: 0 25px;
  text-align: right;
  font-size: 12px;
}

.SocialMediaPostCard .img-post {
  width: 100%;
  margin: 25px auto;
  display: block;
  max-width: 400px;
  min-width: 200px;
  border-radius: 5px;
}

.SocialMediaPostCard .body-text {
  font-size: 14px;
  margin: 15px 10px;
  background-color: #fff;
  color: #5c9e52;
  padding: 15px 10px;
  border-radius: 5px;
}

.SocialMediaPostCard .like-container {
  display: flex;
  align-items: center;
}

.SocialMediaPostCard .heart-btn {
  background-color: transparent;
  font-size: 24px;
  color: rgb(255, 117, 117);
}

.SocialMediaPostCard .show-more-comments-btn {
  background-color: #235f19;
  color: #fff;
  border-radius: 15px;
  transition: 0.1s background-color ease-in-out;
}

.SocialMediaPostCard .show-more-comments-btn:hover {
  background-color: #447a3c;
}

.SocialMediaPostCard .comment-btn {
  background-color: transparent;
  color: #fff;
  font-weight: 400;
}

.SocialMediaPostCard .comment-btn:hover {
  text-decoration: underline;
}

.SocialMediaPostCard .heart-btn,
.SocialMediaPostCard .show-more-comments-btn,
.SocialMediaPostCard .comment-btn {
  cursor: pointer;
  border: none;
  font-weight: 400;
  padding: 5px 10px;
}

.SocialMediaPostCard .CommentForm {
  margin: 10px auto;
  width: 100%;
  display: block;
}

.SocialMediaPostCard .CommentForm textarea {
  display: block;
  width: 90%;
  max-width: 550px;
  padding: 10px;
  margin: 0 auto;
}

.SocialMediaPostCard .CommentForm button {
  background-color: #fff;
  border: none;
  color: #5c9e52;
  padding: 5px 15px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.1s background-color ease-in;
  margin: 15px auto;
  display: block;
  max-width: 250px;
}

.SocialMediaPostCard .CommentForm button:hover {
  background-color: #c1ffb7;
}

.SocialMediaPostCard .likes {
  margin: 15px 0;
}
