.TeamPageRoute {
  color: #5c9e52;
  margin: 0 10px;
  margin-top: 100px;
}
.TeamPageRoute h2,
h3 {
  font-family: "Kulim Park", semi bold;
  margin-bottom: 10px;
}
.TeamPageRoute p {
  font-family: "Lexend", regular;
}

.TeamPageRoute .TeamHeader,
.ThanksHeader {
  color: rgb(248, 102, 4);
}

.TeamPageRoute li {
  margin: 25px 0;
}
