/* Resets */
body,
h1,
h2,
h3,
h4,
h5,
p,
a,
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
label,
span {
  font-family: "Kulim Park", sans-serif;
}

p,
button,
textarea,
input,
a {
  font-family: "Lexend", sans-serif;
  font-weight: 300;
}

p {
  font-size: 1rem;
}
